h1 {
text-align: center;
}


body {
  margin: auto;
  width: 640px; 
  padding: 50px;
}

.btn{
  text-transform: uppercase;
  padding: 20px; 
  width: 200px;
  border-radius: 10px;
  
}

.pblock {
  width: 30%;
}
