<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
  scroll-behavior: smooth;
}

#home {
  height: 800px;
  background-color: white;
}

#information {
  height: 1600px;
  background-color: green;
}
</style>
</head>
<body>

<h1>Lafora Disease</h1>

<div class="main" id="home">
  <h2>Home</h2>
  <p>Click on the link to see the "smooth" scrolling effect.</p>
  <a href="#information">Click to skip to information</a>
</div>

<div class="main" id="information">
  <h2>Information</h2>
  <a href="#home">Click to return to home</a>
</div>

</body>
</html>
